/* line 5, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.top-right-selector {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* line 11, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.msu_title {
  font-size: 50pt;
}

/* line 16, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
#current_discipline {
  font-size: 20pt;
  line-height: 0.8;
}
/* line 19, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
#current_discipline:hover {
  cursor: pointer;
}

/* line 24, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
#current_discipline > a {
  color: inherit;
}
/* line 26, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
#current_discipline > a:hover {
  color: inherit;
}

/* line 31, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.selector-margin {
  margin-right: 20px;
  margin-left: 20pt;
}

/* line 36, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* line 43, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
tr.borderless {
  border: 0 none;
}

/* line 47, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.numberCircle {
  border-radius: 50%;
  width: 23pt;
  height: 23pt;
  padding: 3pt;
  background: #fff;
  border: 1pt solid #666;
  color: #666;
  text-align: center;
  display: inline-block;
  font: 14pt Arial, sans-serif;
}

/* The Overlay (background) */
/* line 61, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.overlay {
  /* Height & width depends on how you want to reveal the overlay */
  z-index: 1000;
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* line 71, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.discipline-links {
  font-size: 5rem;
  line-height: 5rem;
  color: white;
  display: block;
}

/* line 78, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.overlay_subtitle {
  color: white;
  font-size: 1.5rem;
}

/* line 83, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.overlay > a, a:hover {
  color: white;
  text-decoration: none;
}

/* line 88, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.overlay-text {
  color: white;
  font-size: 4rem;
  line-height: 4rem;
}

/* line 95, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.underline {
  /* I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge */
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 10px), white 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

/* line 104, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.discipline-links:hover .underline {
  background-size: 100% 100%;
}

/* line 108, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.discipline-links > a {
  color: inherit;
}
/* line 110, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.discipline-links > a :hover {
  color: inherit;
}

/* line 116, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.close {
  font-size: 45px;
  color: white;
}
/* line 119, C:/Sites/msuni_a/app/assets/stylesheets/static_pages.scss */
.close:hover {
  color: white;
}
