<tr class="list-group-item borderless">
  <td class="">
    <div class="numberCircle mr-3"><%= item_id %> </div>
  </td>
  <td>
    <%= link_to lecture.title, lecture_path(:id => lecture.id), remote:true %> </td>
</tr>