<div id="discipline-errors" style="display:none;"></div>

<%= form_for [:admin, @discipline], remote: true  do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :title,
                     class: 'form-control',
                     id: 'input-discipline-name',
                     placeholder: 'Название дисциплины',
                     'aria-label' => 'Название дисциплины',
                     'aria-describedby' => 'basic-addon2' %>
    <div class="input-group-append">
      <%= f.button "Подтвердить", class: 'btn btn-outline-primary', remote: true %>
    </div>
  </div>
<% end %>
