<% content_for :title do %>
  <title>Дисциплины | MSUniversity</title>
<% end %>

<div class="row">

  <div class="col-sm-4 col-md-4 col-lg-3 border-right discipline-menu" style="max-width: 300px;">
    <%= render partial: '/admin/msu_disciplines/disciplines_menu' %>
  </div>

  <div class="col align-self-center" id="discipline-content">
      <!-- <div class="badge badge-pill badge-secondary mx-auto" style="font-size: 1.5rem; opacity:0.5;">
        Пожалуйста, выберите дисциплину, для доступа к лекциям
      </div> -->
  </div>
</div>

<div id="new_discipline_form"></div>
